html {
	height: 100%;
}

body {
	background: #FFFFFF;
	color: #888888;
	font-family: Sans-serif;
	font-size: 18px;
	font-weight: lighter;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	color: #666666;
}

h2 {
	font-size: 24px;
	font-weight: normal;
	color: #666666;
	margin-top: -20px;
}

a {
	color: #888888;
}

a.nav {
	font-weight: bold;
}

li {
	margin-bottom: 0px;
	margin-left: -20px;
	margin-top: 5px;
}

li.subtext {
	list-style-type: none;
	margin-top: 0px;
}

.subtext {
	font-size: 14px;
}

.resumetitle {
	color: #666666;
	font-weight: bold;
}

#container {
	text-align: center;
	padding: 20px 20px 20px 20px;
}

a.pad {
	margin-left: 20px;
}

/*
.pad {
	display: none;
}
*/

#home {
	float: left;
}

#content {
	text-align: left;
	font-size: 16px;
}

#me {
	margin-top: 10px;
	width: 155px;
	height: auto;
}