body { background-image: url('assets/omfgdogs.gif'); }

a { 
	color: #FF0000; 
	font-weight: bold;
	font-size: 32px;
}

#credit {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #000000;
}
